 <div class="post" id="post" class="post-stub sm:max-w-sm " onclick="location.href='  <%- config.root %><%- item.path %>';"> 
   
    <!-- Title -->

     <div  class="post-stub " onclick="location.href='   <%= theme.excerpt_link %>';">
       <h2 class="post-title">
            <a href="<%- config.root %><%- item.path %>" class="post-title-h2 text-3xl  ">
                <%- item.title %>
            </a>
        </h2>
        <div class="date-tag">
            <!-- Date and Author -->
           <p class="post-meta " style="width: 140px;">
            <%= item.date.format(config.date_format) %>
           
           
           </p>
           <div class="tags">                 
               <a href="" class="button js text-sm font-bold bg-teal-700"><% if(item.author) { %>
                   <%- item.author %>
                   <% } %></a>      
           </div>
           <div>

           </div>
        </div> 
        
    </div> 
    
  
</div>