<div  class="text-center header-main " style="background-color: #2C2B2B;">
    
    <button class="nav-toggle" aria-label="open navigation">
        <span class="hamburger"></span>
    </button>
    <p class="py-1 text-white ">🌱 <%= config.subtitle %> 🌱</p>
    
    <nav class="flex justify-center nav">
        <ul class="justify-center w-1/3 nav__list nav__list--primary">
            <a class="flex justify-center" href="index.html">
                <img class="image-id" src="<%- theme.avatar %>" alt="">
            </a>
            <h1 class="sidebar-title"><%= config.title %> </h1>
            <a class="email" href="mailto:mail@chetansachdev.com"><%- theme.email %></a>
            <li class="nav__item hover:bg-gray-800"><a href="<%- url_for(theme.menu.home.url) %>" class="nav__link ">Home</a></li>
            <li class="nav__item hover:bg-gray-800"><a href="<%- url_for(theme.menu.archives.url) %>" class="nav__link ">Archives</a></li>
            <li class="nav__item hover:bg-gray-800"><a href="http://plantyouridea.com/services/" class="nav__link ">Services</a></li>
            <li class="nav__item hover:bg-gray-800"><a href="https://github.com/cksachdev" class="nav__link ">Github</a></li>
            <li class="nav__item hover:bg-gray-800"><a href="<%- url_for(theme.menu.about.url) %>" class="nav__link ">About</a></li>
            <li class="nav__item hover:bg-gray-800"><a href="<%- url_for(theme.menu.payment.url) %>" class="nav__link ">Payment</a></li>
        </ul>
        
    </nav>
</div>
<script>
    const navToggle = document.querySelector('.nav-toggle');
    const nav = document.querySelector('.nav');


    navToggle.addEventListener('click', () => {
    nav.classList.toggle('nav--visible');
    })
</script>
