<div class="post flex flex-wrap sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg ">
   
    <!-- Title -->

    <div class="post-stub   hover:bg-gray-800  px-2 py-8 " onclick="location.href='  <%= theme.excerpt_link %>';">
        <h2 class="post-title  ">
            <a href="<%- config.root %><%- item.path %>" class="post-title-h2  ">
                <%- item.title %>
            </a>
        </h2>
        <div class="date-tag">
            <!-- Date and Author -->
        <p class="post-meta flex-wrap">
            <%= item.date.format(config.date_format) %>
            <% if(item.author) { %>
                by <%- item.author %>
            <% } %>
        </p>
        <div class="tag">
            <a href="https://chetansachdev.com/tags/js/" class="button js  text-sm font-semibold">Javascript</a>
        </div>
        </div>
        
    </div>
    
    <!-- Content -->
     <%#- item.excerpt || item.content %>
   
    <!-- Only display the Read More link if we are displaying an excerpt -->
    <% if(item.excerpt) { %>
        <p>
            <a href="<%- config.root %><%- item.path %>">
                <%= theme.excerpt_link %>
            </a>
        </p>
    <% } %>
</div>