<div class="blog-post text-white  p-12">
    <!-- Title -->
    <div class="flex  ">
        <h2 class="blog-post-title">
            <a href="<%- config.root %><%- item.path %>" class="text-2xl font-bold">
                <%- item.title %>
            </a>
        </h2>
        <!-- Date and Author -->
        <p class="blog-post-meta font-mono ml-32 text-sm">
            <%= item.date.format(config.date_format) %>
            <% if(item.author) { %>
                by <%- item.author %>
            <% } %>
        </p>
    </div>
    
    <!-- Content -->
    <div class="text-lg tracking-wider leading-8 mt-4">
        <%- item.excerpt || item.content %>
    </div>
   
    <!-- Only display the Read More link if we are displaying an excerpt -->
    <% if(item.excerpt) { %>
        <p>
            <a href="<%- config.root %><%- item.path %>">
                <%= theme.excerpt_link %>
            </a>
        </p>
    <% } %>
</div>