<aside class="sidebar sm:block  ">

  <div >
    <div class="flex " >
      <img class="h-24 w-24 rounded-full" src="<%- theme.avatar %>" alt="">
    </div>
    <div class="flex">
      <h1 class=" font-semibold mt-4 mb-2 "><%= config.title %> </h1>
    </div>
    
    <email class="text-gray-600 opacity-75 font-light text-lg"> <%- theme.email %> </email>
  
    <div class="flex my-12">
      <input class="border-2 border-gray-800 px-2 py-1 bg-gray-900" type="text" placeholder="Search">
    </div>
    
    <div class="grid  my-8 max-w-xs">
     
  
      <a class="menu-item block px-2 py-4" id="home" onclick="hide()" href="<%- url_for(theme.menu.home.url) %>"> <i  class="fa fa-home fa-lg mr-6 fill-current text-gray-400" aria-hidden="true"></i><%- theme.menu.home.text %> </a> 
      <a class="menu-item px-2 py-4" href="<%- url_for(theme.menu.archives.url) %>"><i class="fa fa-archive mr-6 fill-current text-gray-400" aria-hidden="true"></i>Archives</a>
      <a class=" menu-item  px-2 py-4" href="<%- url_for(theme.menu.categories.url) %>"> <i class="fa fa-list mr-6 fill-current text-gray-400" aria-hidden="true"></i>Categories</a>
      <a class="menu-item  px-2 py-4" href="<%- url_for(theme.menu.tags.url) %>"><i class="fa fa-tags mr-6 fill-current text-gray-400" aria-hidden="true"></i>Tags</a>
      <a class="menu-item  px-2 py-4" href="https://github.com/cksachdev"><i class="fa fa-github mr-6 fill-current text-gray-400" aria-hidden=""></i>Github</a>
      <a class="menu-item  px-2 py-4" href="<%- url_for(theme.menu.about.url) %>"><i class="fa fa-info-circle mr-6 fill-current text-gray-400" aria-hidden="true"></i>About me</a>
  
    </div>
    
  
    <div class="grid grid-rows-3 gap-4   my-16 ">
      <a class="  " href="https://twitter.com/cksachdev"><i class="fa fa-twitter fa-lg fill-current text-blue-600 mr-1" aria-hidden="true"></i><span class="border-b border-dotted">Follow me</span>
         on Twitter</a>
      <a class="" href="https://www.linkedin.com/in/cksachdev/"><i class="fa fa-linkedin-square fa-lg fill-current text-blue-600 bg-white rounded-lg " aria-hidden="true"></i>
       <span class="border-b border-dotted">Linkedin</span> </a>
      <a class="" href="https://www.facebook.com/cksachdev"><i class="fa fa-facebook-square fa-lg fill-current text-blue-600 bg-white rounded-lg " aria-hidden="true"></i>
        <span class="border-b border-dotted">Facebook</span> </a> 
    </div>
  </div>

  
  <p class=" leading-6">✉️ Questions? <a class="border-b border-dotted" href="#">Email me</a>  (no guest posts, no "add this link", no product placement or review requests pls)
  </p>

  <div class="footer-tags">
    <%- partial('_partial/tag-side-footer') %> 
  </div>
  
  <p class=""><%- partial('_partial/footer') %> </p>
  <script>
    $(".like").on("click", function (e) {
    e.preventDefault();
    $.post(this.href);
    $(this).hide();
});
  </script>
  <a class="like" href="like1?sellerid=-1">Hide me</a>

</aside>